### DotnetCore ###
# .NET Core build folders
RinhaBackendAPI/bin/
RinhaBackendAPI/obj/

# Common node modules locations

RinhaBackendAPI/node_modules
RinhaBackendAPI/wwwroot/node_modules

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode